language: java
jdk: openjdk8
before_script:
  - chmod +x  $TRAVIS_BUILD_DIR/src/Clients/gradlew
script:
  - cd  $TRAVIS_BUILD_DIR/src/Clients
  - ./gradlew build

after success:
  - cp $TRAVIS_BUILD_DIR/src/Clients/build/libs/*.war $TRAVIS_BUILD_DIR/deploy/docker/Clients/drop/
  - docker login -u $DOCKER_USER -P $DOCKER_PASS
  - export REPO=p1gps
  - export TAG=web
  - docker build -t $REPO/$TAG $TRAVIS_BUILD_DIR/deploy/docker/Clients
  - docker tag $REPO/$TAG $DOCKER_USER/$REPO:$TAG
  - docker push $DOCKER_USER/$REPO:$TAG
